@charset "utf-8";
@font-face {
	font-family: 'nyanfont';
	src:url('../font/nyanfont.eot?51250264');
	src:url('../font/nyanfont.eot?51250264#iefix') format('embedded-opentype'),
		url('../font/nyanfont.woff2?51250264') format('woff2'),
		url('../font/nyanfont.woff?51250264') format('woff'),
		url('../font/nyanfont.ttf?51250264') format('truetype'),
		url('../font/nyanfont.svg?51250264#nyanfont') format('svg');
	font-weight:normal;
	font-style:normal;
}
@-moz-keyframes spinner { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinner { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinner { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[locked],[hidden],template{display:none}
[noselect]{user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;cursor:default}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,optgroup,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#090a0c;color:#090a0c;transition:background .15s ease-in-out, color .15s ease-in-out}
mark:hover{background:transparent;color:inherit}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0}
pre,textarea{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;outline:none}
button{overflow:visible}
button,select{text-transform:none}
button,input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
button::-moz-focus-inner,select::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
table{border-collapse:collapse;border-spacing:0}
img,legend{border:0}legend,td,th{padding:0}
[switch],[switch]~[switch-zone]{display:none}[switch]:checked~[switch-zone]{display:inline-block}
[toggle],[toggle]~[on],[toggle]:checked~[off]{display:none}[toggle]:checked~[on],[toggle]~[off]{display:inline-block}
h3,q{display:inline-block}h3{margin:10px 0 5px;font-size:14pt}
b,h3{font-weight:700}i{font-style:italic}u{text-decoration:underline}s{text-decoration:line-through}
blockquote{display:block}blockquote,q{color:#228b22}
[notes]{position:fixed;top:36px;right:16px;z-index:9;max-height:80vh;max-width:512px;overflow:auto}
[note]{min-width:128px;cursor:pointer;display:inline-block;clear:both;float:right;margin:0 0 8px 0}
[note] input,[note] input+var{display:none}[note] input:checked+var{display:block}
[note] var{padding:8px;color:#fff;background:#000;font:normal 9pt/1 monospace;text-align:right;border-bottom:1px solid}
[note] var>*{all:unset}[note] [r]{color:red}[note] [g]{color:springgreen}[note] [o]{color:orange}
[class*=" icon-"]:before,[class^=icon-]:before,icon:before{
	font-family:nyanfont;font-style:normal;font-weight:400;font-variant:normal;
	display:inline-block;speak:none;width:1em;margin:0 .2em;line-height:1em;
	text-decoration:inherit;text-align:center;text-transform:none;
	-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}
.icon-spell-cursed:before{content:'\e800'}
.icon-link:before{content:'\e801'}
.icon-attention-1:before{content:'\e802'}
.icon-fav-yes:before{content:'\e803'}
.icon-attach:before{content:'\e804'}
.icon-catalist:before{content:'\e806'}
.icon-refresh:before{content:'\e807'}
.icon-down-cut:before{content:'\e808'}
.icon-left-cut:before{content:'\e809'}
.icon-right-cut:before{content:'\e80a'}
.icon-up-cut:before{content:'\e80b'}
.icon-arrow-down:before{content:'\e80c'}
.icon-arrow-left:before{content:'\e80d'}
.icon-arrow-right:before{content:'\e80e'}
.icon-arrow-up:before{content:'\e80f'}
.icon-comment:before{content:'\e810'}
.icon-file-add:before{content:'\e811'}
.icon-file-fla:before{content:'\e812'}
.icon-file-doc:before{content:'\e813'}
.icon-login:before{content:'\e814'}
.icon-logout:before{content:'\e815'}
.icon-p2p:before{content:'\e816'}
.icon-listen:before{content:'\e817'}
.icon-watch:before{content:'\e818'}
.icon-io-moderate:before{content:'\e819'}
.icon-key:before{content:'\e81a'}
.icon-check-on:before{content:'\e81b'}
.icon-calendar:before{content:'\e81c'}
.icon-io-worldnet:before{content:'\e81d'}
.icon-target:before{content:'\e81f'}
.icon-night:before{content:'\e820'}
.icon-deny:before{content:'\e821'}
.icon-announce:before{content:'\e822'}
.icon-download:before{content:'\e823'}
.icon-network:before{content:'\e824'}
.icon-reply:before{content:'\e825'}
.icon-reply-all:before{content:'\e826'}
.icon-forward:before{content:'\e827'}
.icon-globe:before{content:'\e828'}
.icon-infinity:before{content:'\e829'}
.icon-ok:before{content:'\e82a'}
.icon-cancel:before{content:'\e82b'}
.icon-up:before{content:'\e82c'}
.icon-down:before{content:'\e82d'}
.icon-add:before{content:'\e82e'}
.icon-remove:before{content:'\e82f'}
.icon-person:before{content:'\e830'}
.icon-menu:before{content:'\e831'}
.icon-info:before{content:'\e88f'}
.icon-search:before{content:'\e8b6'}
.icon-settings:before{content:'\e8b8'}
.icon-sage:before{content:'\e8d7'}
.icon-visible:before{content:'\e8f4'}
.icon-invisible:before{content:'\e8f5'}
.icon-hex-check:before{content:'\e900'}
.icon-hex-logo:before{content:'\e901'}
.icon-hex:before{content:'\e902'}
.icon-menu-vert:before{content:'\e903'}
.icon-hakase:before{content:'\f020'}
.icon-spell-locked:before{content:'\f023'}
.icon-spell-pinned:before{content:'\f08d'}
.icon-check:before{content:'\f096'}
.icon-fav-no:before{content:'\f097'}
.icon-spell-divide:before{content:'\f0c5'}
.icon-sort:before{content:'\f0dc'}
.icon-sort-down:before{content:'\f0dd'}
.icon-sort-up:before{content:'\f0de'}
.icon-file-txt:before{content:'\f0f6'}
.icon-left:before{content:'\f104'}
.icon-right:before{content:'\f105'}
.icon-io-commands:before{content:'\f120'}
.icon-io-assemble:before{content:'\f12e'}
.icon-io-firewall:before{content:'\f132'}
.icon-check-in:before{content:'\f14a'}
.icon-coin:before{content:'\f15a'}
.icon-file-doc-inv:before{content:'\f15b'}
.icon-file-img:before{content:'\f1c5'}
.icon-file-arc:before{content:'\f1c6'}
.icon-file-aud:before{content:'\f1c7'}
.icon-file-vid:before{content:'\f1c8'}
.icon-file-cod:before{content:'\f1c9'}
.icon-help:before{content:'\f1cd'}
.icon-news:before{content:'\f1ea'}
.icon-off:before{content:'\f204'}
.icon-on:before{content:'\f205'}