@import '/assets/nyanon/css/null.css';

[advice],
[info] form option,
[info] form select,
footer,
main samp,
main section
{background:#07080a}

header h2{display:block;color:#7fffd4;text-align:center}

[info] label[tabindex],
body,
header h2,
main samp{font-family:"Trebuchet MS",Helvetica,sans-serif}

[form] form,
body,
footer li a.active
{background:#0c0d10}

[info] label[tabindex],
[post] [text],
div[cata]>article,
{vertical-align:top}

body,html
{width:100%;height:100%}

body{color:#aaa}

a{color:#7fffd4;text-decoration:none}
a:hover{color:wheat}
hr{height:1px;border:none;background:0 0;clear:both}
hr.bottom{margin-top:96px}

[bottom],
[info] [switch-zone]>div
{margin:0 auto}

footer{display:table;width:100%;color:#aaa;height:32px;font-size:10pt;line-height:32px;position:fixed;bottom:0;left:0;right:0}
footer a{padding:0 4px}
footer>*{display:table-cell}
footer li{display:inline-block}
footer li a{display:block}
footer>label{text-align:center;color:#7fffd4;font-size:14px;cursor:pointer}
footer>label:hover{color:wheat}
footer nav,footer>a{width:256px;padding:0 32px}
footer li a{width:12px;text-align:center}
footer li a.active{color:wheat}

[form] button,
[form] input:checked+label,
[info] [on],
[info] [toggle]:checked~cite
{color:#7fffd4}

footer>a:first-child{text-align:left}

[info] form div:last-child,
footer>a:last-child
{text-align:right}

[advice],
[bottom],
[form] label,
[info] i,
main>div[cata]
{text-align:center}

main>div[cata]{width:90%}

[form] form{position:fixed;bottom:32px;right:0;left:0;padding:0;border:8px solid #07080a}
[form] [panel]{display:table;width:100%;font-size:10pt;text-align:right}
[form] #formfile~#filezone,
[form] #formlink~#linkzone,
[form] [panel]>input[type=checkbox],
[form] [panel]>input[type=radio],
[form] input[type=checkbox],
[info] [switch]#options1~[tab=options1],
[info] [switch]#options2~[tab=options2]
{display:none}

[form] #formfile:checked~#filezone,
[form] #formlink:checked~#linkzone,
[form] [panel]>button,
[form] [panel]>div,
[form] [panel]>input[type=text],
[form] [panel]>input[type=file],
[form] [panel]>label,
[form] [panel]>span
{display:table-cell}

[form] [panel]>span{width:96px}

[form] textarea{border:none;padding:8px;background:0 0;box-sizing:border-box;display:block;border-bottom:8px solid #07080a;width:512px;
min-width:512px;min-height:128px}
[form] input[type=text]{border:none;background:0 0;line-height:24px;padding:0 8px;width:100%}
[form] label{color:#555;cursor:pointer;width:32px;line-height:24px}

[form] button:hover,
[form] label:hover,
[info] form button:hover
{color:wheat}

[form] label[for=formfile],
[form] label[for=formlink]
{font-size:16px;width:24px}

[form] #filezone,
[form] #linkzone
{width:60px;text-align:left}

[form] #formlink~#link{width:100%;min-width:222px}
#filezone i{font-size:14px}
[form] kbd{position:absolute;bottom:27px;left:0;width:0;height:2px;background:#7fffd4}
[form] button{background:0 0;border:none;line-height:24px;margin:0;padding:0 8px;overflow:hidden;text-overflow:ellipsis;white-space:pre;max-width:240px}
[form] button[type=submit]{width:128px}
[form] button img{visibility:hidden;opacity:0;max-height:calc(100% - 32px);max-width:256px;position:absolute;top:0;left:0}
[form] button:hover img{visibility:visible;opacity:1}
[info]>[switch-zone]{background:#07080a;width:512px;padding:32px;box-sizing:border-box;overflow:auto;position:fixed;top:20px;right:0;bottom:20px;
border-left:8px solid #0c0d10}
[info] label[for=options]{position:fixed;top:24px;right:24px}
[info] hr{margin:0 0 16px}
[info] label[tabindex]{font-size:13pt;width:128px;display:inline-block;line-height:32px;text-align:center;margin-bottom:-1px;cursor:pointer}

[info] [switch]#options1~label[for=options1],
[info] [switch]#options2~label[for=options2]
{color:#555}

[info] [switch]#options1:checked~label[for=options1],
[info] [switch]#options2:checked~label[for=options2]
{color:#aaa;border-bottom:1px solid #aaa}

[info] [switch]#options1:checked~[tab=options1],
[info] [switch]#options2:checked~[tab=options2]
{display:block}

[info] form div{margin:16px 0;padding:0 32px}
[info] form label{cursor:pointer;margin:8px 0;font-size:10pt}
[info] form cite{font-style:normal;font-size:10pt}
[info] i{display:inline-block;width:32px;font-size:12px}
[bottom] address a,main samp{display:block;line-height:32px}
[info] form button,
[info] form select{font-size:10pt;border:none;padding:0 8px;color:#7fffd4}
[info] form option{color:#7fffd4}
[info] form button{background:0 0;line-height:20px}
[advice]{padding:32px 0}
[advice],[advice] img{max-width:100%}
[bottom]{padding:0 0 264px;font-size:9pt}
[bottom] address{margin:0}
[bottom] address a{font-size:11pt;padding:0 8px;font-style:normal;background:#0c0d10;border-bottom:1px solid #1a1b23}

[post] dt,
[post] h5,
main samp
{font-size:10pt}

[bottom] address a:first-child{border-top:1px solid #1a1b23}
main section{padding:0 8px}
main section.open{margin:64px 0}
main section hr{height:0;margin:0}
main samp{margin:92px 0 8px;padding:0 0 0 16px;text-shadow:0 0 0}
main samp a{float:right;padding:0 16px}
div[cata]>article{display:inline-block;width:25%;min-width:360px;padding:4px;box-sizing:border-box;height:512px;overflow:hidden;text-align:left}
div[cata]>article div[text]{display:block;text-overflow:ellipsis;overflow:hidden}
div[cata]>article div[file],
div[cata]>article div[link]{display:block;float:none!important;clear:both}
[post] dt input,
div[cata]>article h5{display:none}
[post] [text],
[post] dl,
[post] dt a,
[post] dt i,
[post] dt label,
[post] dt span,
[post] h5{display:inline-block}
div[cata]>article section{height:100%}
div[cata] [file] a,
div[cata] [file] img,
div[cata] [link] a,
div[cata] [link] img
{margin:0 auto}
[post] dl{margin:0 0 8px;background:#0c0d10;padding:0;width:100%}
[post][head] dl{display:block;background:0 0}
[post]:target dl{border-left:1px solid #7fffd4;margin-left:-1px}
[post] dt{line-height:32px;padding:0 8px;font-style:normal;box-sizing:border-box;display:grid;grid-template-columns:68% 10% 7% 15%;text-align:right}
[post] dd{margin:0;padding:0;width:100%;max-height:75vh;overflow:auto}
[post] h5{margin:0;padding:0 0 0 8px;color:#7fffd4}
[post] dt label{cursor:pointer;line-height:32px;text-align:left}
[post] dt i{width:6px;height:6px;color:#7fffd4;border-radius:6px;border:2px solid}
[post] dt input:checked+i{background:#7fffd4}
[post] dt a{padding:0 2px;outline:0;text-align:left}
[post] time{padding:0 8px;color:#777;text-shadow:0 0 0}
[post] h5+time{display:none}
[post] [file],
[post] [link]{display:inline-block;vertical-align:top;position:relative}

[post][head] [file],
[post][head] [link]{float:left;margin:0 8px 0 0}

[post] [file] a,
[post] [link] a
{display:block;position:relative;max-height:240px;max-width:240px;min-height:64px}

[file] a.open,
[link] a.open
{margin-bottom:16px}

[file] a i,
[link] a i
{font-size:22pt}

[file] small,
[link] small
{padding:8px 0 0 8px}

[post] [file] img,
[post] [link] img
{display:block;max-height:240px;max-width:240px;line-height:64px}

[post] [file]:hover:after,
[post] [file]:hover:before,
[post] [link]:hover:after,
[post] [link]:hover:before
{color:#ccc;background:#0c0d10;font-size:8pt;position:absolute;width:100%;padding:0 4px;line-height:16px;text-align:center;text-shadow:0 0 2px #000;
font-weight:700;overflow:hidden;box-sizing:border-box;z-index:9}

[post] [file]:hover:before,
[post] [link]:hover:before
{content:attr(data-name);top:0}

[post] [file]:hover:after,
[post] [link]:hover:after
{content:attr(data-info);bottom:0}

[post] [text]{padding:0 16px 16px;margin:0;min-width:120px;word-wrap:break-word;word-break:break-word}

[post] [text] code,
[post] [text] pre
{white-space:normal}

[post] [text] span.unkfunc{color:#228b22}

[file]+[text],
[head] [file]+[text],
[head] [link]+[text],
[link]+[text]
{max-width:70%;max-width:calc(100% - 280px)}

[post] [link][data-name=YouTube] a:after,
[post] [link][data-name=Vimeo] a:after,
[post] [link][data-name=SoundCloud] a:after,
[post] [link][data-name=Coub] a:after
{content:' ';position:absolute;top:0;bottom:0;left:0;right:0;background-size:64px 64px;background-position:center center;background-color:transparent;
background-repeat:no-repeat;opacity:.6}

[post] [link]:hover a:after{opacity:.9}
[post] [link][data-name=YouTube] a:after{background-image:url(/assets/i/svc/YouTube.png)}
[post] [link][data-name=Vimeo] a:after{background-image:url(/assets/i/svc/Vimeo.png)}
[post] [link][data-name=SoundCloud] a:after{background-image:url(/assets/i/svc/SoundCloud.png)}
[post] [link][data-name=Coub] a:after{background-image:url(/assets/i/svc/Coub.png)}
[post] [link][external] small{display:block;padding:0 8px}
[post] [link][external] i{display:block;padding:8px;font-size:29px}

@media (hover:none), (hover:on-demand) { 
	mark{background:rgba(0,0,0,.5);color:inherit}
	mark:before{content:'spoiler: ';font-style:italic}
}