@import '/assets/nyanon/css/null.css';
::-webkit-scrollbar{width:6px}::-webkit-scrollbar-track{background:#0d0d13}::-webkit-scrollbar-thumb{background:#43f7c7}/*#0c0d10*/
html,body { width:100%; min-height: 100%; }
body { margin: 20px 0; padding: 0; color: #aaa; background: #111217; font-family: "Trebuchet MS",Helvetica,sans-serif; }/*#0c0d10*/
a {
	color: #43f7c7;
	text-decoration: none;
}
a:hover { color: wheat;  }
hr {
	height: 1px;
	border: none;
	background: #17181d;
	clear:both;
}
hr.bottom { margin-top: 96px; }
header { top: 0; }
footer { bottom: 0; }
header, footer {
	position: fixed;
	background: #090a0c;
	display: table;
	width: 100%;
	color: #aaa;
	height: 20px;
	font-size: 10pt;
	line-height: 20px;
}/*#07080a*/
header a, footer a { padding: 0 4px; }
header > *, footer > * { display: table-cell; }
header > label, footer > label {
	text-align: center;
	color: #43f7c7;
	font-size: 14px;
	cursor: pointer;
}
header > label:hover, footer > label:hover { color: wheat; }
header address {
	width: 256px;
	text-align: left;
	vertical-align: top;
	padding: 0 32px;
}
header nav {
	vertical-align: top;
	text-align: right;
	width: 296px;
}
header nav li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}
header nav a { display: block; }
header nav span { display: none; }
header label { width: 64px; }
header h5 {
	color: #43f7c7;
	text-align: center;
	font-size: 10pt;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
}
footer nav, footer > a {
	width: 256px;
	padding: 0 32px;
}
footer li {
	display: inline-block;
}
footer li a {
	display: block;
	width: 12px;
	text-align: center;
}
footer li a.active {
	background: #0c0d10;
	color: wheat;
}
footer > a:first-child { text-align: left; }
footer > a:last-child { text-align: right; }
main {
    margin-top: 20px;
}
main > div {
	width: 80%;
	margin: 0 auto;
	min-width: 800px;
	max-width: 1600px;
}
main > div[cata]{ width:90%; text-align: center; }
[form] {
	position: fixed;
	top: calc(100% - 152px);
    left: calc(50% - 256px);
}
[switch]~form { display: none; }
[switch]:checked~form {
	display: grid!important;
	grid-template-columns: auto 128px;
	grid-template-rows: auto 2px;
}
[form] form {
    padding: 0;
    background: #090a0c;
    /* border: 1px solid #43f7c7; */
    margin: 0 auto;
}
[form] [panel] {
	display: grid;
	grid-template-rows: auto 48px;
	width: 100%;
	font-size: 10pt;
	text-align: center;
}
[form] [panel] > input[type="checkbox"],
[form] [panel] > input[type="radio"] { display: none; }
[form] [panel] > div,
[form] [panel] > label,
[form] [panel] > button,
[form] [panel] > span,
[form] [panel] > input[type="text"],
[form] [panel] > input[type="file"] { display: block; }
[form] [flags] {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 128px;
    padding: 0;
    margin: 0;
}
[form] [flags] label {
    display: block;
    margin: 0 auto;
    color: #555;
    text-align: center;
    line-height: 24px;
    width: 100%;
    cursor: pointer;
}
[form] [flags] #sage + label { text-align: right; }
[form] [flags] #sage:checked + label { color: crimson; }
[form] [flags] #noko + label { text-align: left; }
[form] [flags] #noko:checked + label { color: lime; }
[form] textarea {
	border: none;
    padding: 8px;
    background: transparent;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 496px;
    min-height: 128px;
}
[form] input[type='text'] {
	border: none;
	background: transparent;
	line-height: 24px;
	padding: 0 8px;
	width:100%;
}
[form] input[type='checkbox'] { display:none; }
[form] input:checked + label { color: #43f7c7; }
[form] label:hover { color: wheat; }
[form] #filezone, [form] #linkzone {
	margin: 0 auto;
	padding: 0;
	width: 128px;
}
[form] #formfile ~ #filezone, [form] #formlink ~ #linkzone { display: none; }
[form] #formlink:checked ~ #linkzone, [form] #formfile:checked ~ #filezone { display: table-cell; }
[form] #formlink ~ #link { width: 100%; min-width: 222px; }
[form] kbd {
	display: block;
	margin: 0;
	padding: 0;
	width: 0px;
	height: 2px;
	background: #43f7c7;
}
[form] button {
	background: none;
	color: #43f7c7;
	line-height: 24px;
	border: none;
	display: block;
}
[form] button:hover { color:wheat; }
[form] button[type="submit"] { width: 128px; }
[form] #filezone button {
	margin: 23px auto;
	padding: 0;
	width: 32px;
	height: 32px;
}
[form] #filezone button div {
	height: 78px;
	width: 128px;
	position: absolute;
	top: 0; right: 0;
	cursor: default;
}
[form] #filezone button > i { font-size: 24px; }
[form] #filezone button div i {
	position: absolute;
	top: 0;
	right: 0;
	background: #090a0c;
	cursor: pointer;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	font-size: 16px;
}
[form] #filezone button div + span {display: none}
[form] #filezone button img {
	max-height: 78px;
	max-width: 128px;
	margin: 0 auto;
	cursor: pointer;
}
[form] #filezone button:hover img {
	visibility: visible;
	opacity: 1;
}
[form] #filezone button span {
	position: absolute;
	top:0; right:0;
	width: 128px;
	display: block;
	word-wrap: break-word;
	word-break: break-word;
	white-space: pre-wrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
[form] #filezone button dfn {
	font-style: normal;
	display: block;
}
[form] #filezone button em {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 128px;
	font-size: 11px;
}

[info]{}
[info] > [switch-zone]{
	background: #090a0c;
	width: 512px;
	padding: 32px;
	box-sizing: border-box;
	overflow: auto;
	position: fixed;
	top: 20px;
	right: 0;
	bottom: 20px;
}
[info] label[for="options"]{
	position: fixed;
	top: 24px;
	right: 24px;
}
[info] hr { margin: 0 0 16px 0; }
[info] label[tabindex] {
	font-size: 13pt;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	width: 128px;
	display: inline-block;
	vertical-align: top;
	line-height: 32px;
	text-align: center;
	margin-bottom: -1px;
	cursor: pointer;
}
[info] [switch]#options1~label[for='options1'],[info] [switch]#options2~label[for='options2']{ color:#555; }
[info] [switch]#options1:checked~label[for='options1'],[info] [switch]#options2:checked~label[for='options2']{ color:#aaa; border-bottom: 1px solid #aaa; }
[info] [switch]#options1~[tab='options1'],
[info] [switch]#options2~[tab='options2'] { display: none; }
[info] [switch]#options1:checked~[tab='options1'],
[info] [switch]#options2:checked~[tab='options2'] { display: block; }
[info] [switch-zone] > div {
	margin: 0 auto;
}
[info] form div {
	margin: 16px 0;
	padding: 0 32px;
}
[info] form label {
	cursor: pointer;
	margin: 8px 0;
	font-size: 10pt;
}
[info] form cite {
	font-style: normal;
	font-size: 10pt;
}
[info] i {
	display: inline-block;
	width: 32px;
	font-size: 12px;
	text-align: center;
}
[info] [toggle]:checked ~ cite, [info] [on] { color: #43f7c7; }
[info] form select {
	background: #07080a;
	color: #43f7c7;
	border: none;
	padding: 0 8px;
	font-size: 10pt;
}
[info] form option {
	background: #07080a;
	color: #43f7c7;
}
[info] form div:last-child {
	text-align: right;
}
[info] form button {
	background: none;
	font-size: 10pt;
	line-height: 20px;
	color: #43f7c7;
	padding: 0 8px;
	border:none;
}
[info] form button:hover { color: wheat; }
[advice]{
	text-align: center;
	padding: 24px 0;
}
[bottom]{
	width: 80%;
	max-width: 1600px;
	min-width: 800px;
	text-align: center;
	margin: 0 auto;
	padding: 0 0 64px 0;
	font-size: 9pt;
}
[bottom] address { margin: 16px 0; }
[bottom] address a { font-size: 11pt; padding:0 8px; }

[control]{}
[control] div {}
[control] span {}
[control] input {}
[control] button {}

main >div >section {} /*#07080a*/
main >div >section.open { margin: 64px 0; }
main >div >section hr { height: 0; margin: 0; }
main samp {
	margin: 92px 0 8px 0;
	background: #0d0d13;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	font-size: 10pt;
	line-height: 32px;
	display: block;
	padding: 0 0 0 16px;
	text-shadow: 0 0 0;
}/*#07080a*/
main samp a { float: right; padding: 0 16px; }
div[cata] > article{
	display: inline-block;
	width: 25%;
	min-width: 360px;
	vertical-align: top;
	padding: 4px;
	box-sizing: border-box;
	height: 512px;
	overflow: hidden;
	text-align: left;
}
div[cata] > article div[text] {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}
div[cata] > article div[file],
div[cata] > article div[link] {
	display: block;
	float: none!important;
	clear: both;
}
div[cata] > article h5 { display: none }
div[cata] > article section {
	height: 100%;
}
div[cata] [link] a, div[cata] [file] a,
div[cata] [link] img, div[cata] [file] img {
	margin:0 auto;
}
[post] {}
[post] dl {
	display: inline-block;
	margin: 0 0 8px 0;
    background: #1c1d25;
	padding: 0;
	border: 1px solid #0d0d13;
}/*#0c0d10*/
[post][head] dl {
	display: block;
	background: none;
	border:none;
}
[post]:target dl {
	border-left: 1px solid #43f7c7;
	margin-left: -1px;
}
[post] dt {
	line-height: 32px;
	padding: 0 8px;
}
[post] dd {
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 75vh;
	overflow: auto;
}
[post] h5 {
	display: inline-block;
	margin: 0;
	padding: 0 0 0 8px;
	color: #43f7c7;
	font-size: 10pt;
}
[post] dt { font-size: 10pt; font-style: normal; }
[post] dt label {
	cursor: pointer;
	line-height: 24px;
	display: inline-block;
}
[post] dt span { display: inline-block; }
[post] dt input {
	display: none;
}
[post] dt i {
	width: 6px;
	height: 6px;
	color: #43f7c7;
	display: inline-block;
	border-radius: 6px;
	border: 2px solid;
}
[post] dt input:checked + i { background: #43f7c7; }
[post] dt a {
	padding: 0 2px;
	outline: none;
	display: inline-block;
}
[post] time {
	padding: 0 8px;
	color: #777;
	text-shadow: 0 0 0;
}
[post] [link], [post] [file] {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 8px;
	float:left;
}
[post][head] [link], [post][head] [file] { float:left; margin: 0 8px 0 0; }
[post] [link] a, [post] [file] a {
	display: block;
	position: relative;
	max-height: 240px;
	max-width: 240px;
	min-height: 64px;
	text-overflow: ellipsis;
    overflow: hidden;
}
[link] a.open, [file] a.open { margin-bottom: 16px; }
[link] a i, [file] a i { float:left; font-size: 22pt; }
[file] small, [link] small {}
[post] [link] img, [post] [file] img { display: block; max-height: 240px; max-width: 240px; line-height: 64px; }
[post] [link]:hover:before, [post] [file]:hover:before,
[post] [link]:hover:after,  [post] [file]:hover:after {
	color: #ccc;
	background: rgba(7, 9, 12, 0.9);
	font-size: 8pt;
	position: absolute;
	width: calc(100% - 16px);
	padding: 0 4px;
	line-height: 16px;
	text-align: center;
	text-shadow: 0 0 2px black;
	font-weight: bold;
	overflow: hidden;
	box-sizing: border-box;
	z-index: 9;
}
[post] [link]:hover:before, [post] [file]:hover:before {
	content: attr(data-name);
	top: 8px;
}
[post] [link]:hover:after, [post] [file]:hover:after {
	content:attr(data-info);
	bottom: 8px;
}
[post] [link] r, [post] [file] r {
	position: absolute;
	top: 8px; left: 8px;
	display: block;
	width: 16px; height: 16px;

	border: 2px solid #43f7c7;
	border-right-color: transparent;
	border-radius: 24px;

	-webkit-animation: spinner 1s linear infinite;
	-moz-animation: spinner 1s linear infinite;
	animation: spinner 1s linear infinite;
}
[post] [text] {
	display: block;
	padding: 0 16px 16px 16px;
	margin: 0;
	min-width: 120px;
	vertical-align: top;
	word-wrap: break-word;
	word-break: break-word;
}
[post] [link]+[text], [post] [file]+[text] { min-width: 512px; }
[post] [text] pre, [post] [text] code {
    white-space: normal;
    font-size: small;
    background: #0d0d13;
    display: block;
    padding: 8px;
}
[post] [text] span.unkfunc { color:#1a9848; }
[post] [text] q,
[post] [text] blockquote { color:#4ac36e; margin: 0; }
/*[file] + [text], [link] + [text] {
	max-width: 70%;
	max-width: calc(100% - 296px);
}
[head] [file] + [text], [head] [link] + [text] {
	max-width: 70%;
	max-width: calc(100% - 296px);
}*/
[post] [link][data-name="YouTube"] a:after,
[post] [link][data-name="Vimeo"] a:after,
[post] [link][data-name="SoundCloud"] a:after,
[post] [link][data-name="Coub"] a:after {
	content: ' ';
	position: absolute;
	top:0; bottom:0;
	left:0; right:0;
	background-size: 64px 64px;
	background-position: center center;
	background-color: transparent;
	background-repeat: no-repeat;
	opacity:.6;
}
[post] [link]:hover a:after { opacity:.9; }
[post] [link][data-name="YouTube"] a:after { background-image: url("/assets/i/svc/YouTube.png"); }
[post] [link][data-name="Vimeo"] a:after { background-image: url("/assets/i/svc/Vimeo.png"); }
[post] [link][data-name="SoundCloud"] a:after { background-image: url("/assets/i/svc/SoundCloud.png"); }
[post] [link][data-name="Coub"] a:after { background-image: url("/assets/i/svc/Coub.png"); }
[post] [link][external] small { display: block; padding: 0 8px; }
[post] [link][external] i { display: block; padding: 8px; font-size: 29px; }


[close]{
	position: absolute;
	top: 0; right: -24px;
	cursor: pointer;
	color: #43f7c7;
}
[close]:hover{
	color:wheat;
}



@media (hover:none), (hover:on-demand) { 

}