
/*//////////////////////////////////signin.css/*/

.sign-in {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 16px;
}

.sign-in__item {
	margin-bottom: 1.142857143em;
}

.sign-in__submit {
	margin: 0.571428571em 0 0;
}

/*//////////////////////////////////admin.css/*/

.modlog {
	margin-top: 40px;
}

.table__header {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.table__row {
	display: flex;
	padding: 8px 16px;
	line-height: 32px;
}

.table__label {
	margin-bottom: 12px;
	border-radius: 2px;
	cursor: pointer;
}

.table__cell {
	flex-basis: 10%;
	flex-grow: 1;
	padding: 0 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table__thin {
	flex-shrink: 0;
	flex-basis: 32px;
	flex-grow: 0;
	padding: 0;
}

.table__wide {
	flex-basis: 25%;
}

.table__footer {
	padding: 8px 0;
	text-align: right;
}

.table__select {
	margin-left: 8px;
}

/*//////////////////////////////////admin_theme_nyanon.css/*/

.table__label {
	background: #22242b;	
}

.table__header {
	/*background: #272930;*/
}

.table__link {
	color: inherit;
}

.table__label:hover {
	background: #343740;
}


