html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
h2 {
	position: relative;
	vertical-align: middle;
	position: absolute;
	width: 128px;
	height: 32px;
	top: calc(47% - 16px);
	left: calc(50% - 64px);
	font: 18pt/32px Consolas, "Liberation Mono", Courier, monospace;
	text-align: center;
}
a { text-decoration: none; }
h2 a {
	display: block;
}
#logo {
	position: absolute;
	top: -40px; left: -24px;
	width: 64px; height: 64px;
	background: url(/assets/i/logo.png) 0 0 / 64px 64px no-repeat transparent;
	opacity: .5;
}
h2:hover #logo {
	opacity: .7;
}
#dots {
	position: absolute;
	width: 100%;
	height: 100%;
}