html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 14px/1.57142857143em 'Open sans', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    letter-spacing: 0.02em;
    overflow: hidden;
}

body {
    display: flex;
}

a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

.button {
    display: inline-block;
    margin: 0;
    padding: 0 1.142857143em;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    line-height: 2.285714286em;
    font-size: 1em;
    font-family: inherit;
    background: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: inherit;
    white-space: nowrap;
}

.button:hover {
    text-decoration: none;
}

.button_size_s {
    padding: 0 0.571428571em;
}

.button_clear {
    padding: 0;
    border-radius: 0;
    line-height: inherit;
    text-align: left;
}

.popup {
    position: absolute;
    padding: 0.857142857em 1.142857143em;
    border-radius: 4px;
    line-height: 1.571428571em;
    z-index: 1;
    cursor: auto;
}

.popup_has-tail::before {
    content: '';
    width: 0;
    position: absolute;
    right: 2.857142857em;
    bottom: 100%;
    border-left: 0.571428571em solid transparent;
    border-right: 0.571428571em solid transparent;
    border-bottom: 0.571428571em solid #fff;
}

.message__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 20em;
    padding: 2.285714286em;
    z-index: 3;
    overflow: hidden;
    pointer-events: none;
}
.message__wrapper label {
    display: block;
}
.message__wrapper input {
    display: none;
}
.message__wrapper input:checked + .message { display: flex; }
.message__wrapper input + .message { display: none; }
.message {
    position: relative;
    display: flex;
    margin: 0 0 1.142857143em 0;
    pointer-events: auto;
    cursor: pointer;
}

.message__item {
    padding-right: 1.142857143em;
}

.message__title {
    font-weight: bold;
}

.label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.checkbox {
    display: none;
}
.checkbox:checked ~ .checkbox-off,
.checkbox ~ .checkbox-on {
    display: none;
}
.checkbox ~ .checkbox-off,
.checkbox:checked ~ .checkbox-on {
    display: inline;
}

.icon-checkbox {
    position: relative;
    top: 1px;
}

.search__input {
    -webkit-appearance: textfield;
}
    
.search__input::-ms-clear {
    display: none; 
}

.search__input::-webkit-search-cancel-button {
    display: none;
}

.icon {
    line-height: 1.57142857143em;
    text-align: center;
    font-family: 'nullnyan' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_size_b {
    display: inline-block;
    height: 1.57142857143em;
    min-width: 1.57142857143em;
    padding: 0.357142857em;
    border-radius: 2px;
    vertical-align: top;
    cursor: pointer;
}

.icon_size_b:hover {
    text-decoration: none;
}

.select {
    position: relative;
    height: 1.714285714em;
    line-height: 1.714285714em;
    border-radius: 2px;
    word-spacing: -0.285714286em;
    vertical-align: middle;
    overflow: hidden;

}

.select__input {
    height: inherit;
    margin: 0;
    padding:  0 2.285714286em 0 0.571428571em;
    border: 0;
    width: 125%;
    font-size: inherit;
    outline: none;
    word-spacing: normal;
    cursor: pointer;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
}

.select__icon {
    position: absolute;
    top: 0;
    right: 0.571428571em;
    line-height: inherit;
    pointer-events: none;
}

.quotes,
mark:hover .quotes,
.spoiler:hover .quotes {
    quotes: none;
    color: #92bf77;
}

.code {
    font-size: 1em;
    margin: 0.285714286em 0;
    padding: 0.571428571em;
    border-radius: 4px;
}

mark,
.spoiler {
    display: inline-block;
    padding: 0 0.285714286em;
    border-radius: 2px;
    color: transparent;
    vertical-align: top;
}

mark:hover, .spoiler:hover {
    color: inherit;
}

mark .quotes,
.spoiler .quotes,
mark .highlight,
.spoiler .highlight {
    color: transparent;
}

.menu__container {
    display: inline-block;
    position: relative;
    border-radius: 2px;
}

.menu {
    min-width: 9.142857143em;
    margin: 0;
    padding: 0;
    overflow: auto;
    word-break: break-all;
}

.menu__item {
    padding: 0.571428571em 0;
}

.menu__link {
    display: block;
    width: 100%;
    padding: 0.357142857em 1.142857143em;
    box-sizing: border-box;
}

.menu__link:hover {
    text-decoration: none;
}

.menu_hidden {
    display: none;
    top:  1.142857143em;
    right: -1.857142857em;
}

.menu__container:hover .menu_hidden {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.title {
    margin: 0;
    padding: 0.666666667em 0;
    font-size: 1.714285714em;
    line-height: 1.333333333em;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.main {
    flex-grow: 1;
    padding: 2.285714286em  5% 0 3.7735849%;
    overflow: auto;
    overflow: overlay;
}

.nav {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 16em;
    flex-shrink: 0;
}

.nav__header {
    flex-shrink: 0;
    margin-bottom: 1px;
    padding: 0;
}

.nav__link {
    border-left: 0.285714286em solid transparent;
    padding: 0.357142857em 1.714285714em 0.357142857em 1.428571429em;
}

.nav__logo {
    display: block;
    padding: 2em 1em;
    border: none;
}

.nav__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.285714286em;
}

.nav__expand {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.nav__main {
    flex-grow: 1;
    overflow: hidden;
}

.nav__main:hover {
    overflow: auto;
    overflow: overlay;
}

.nav__main .nav__link:last-child {
    margin-bottom: 1.142857143em;
}

.nav__summary + .nav__link{
    margin-top: 0.285714286em;
}

/*Проще было бы через padding, но браузеры, неподдерживающие details,
не реагируют на правила для этого тега*/

.nav__summary {
    padding-right: 0.285714286em;
    font-weight: 700;
    cursor: pointer;
}

.nav__summary::-webkit-details-marker {
    display: none
}

.nav__summary-icon {
    padding-top: 0;
    padding-bottom: 0;
    float: right;
}

.nav__footer {
    padding-bottom: 0.857142857em;
}

.nav__main hr {
    height: 1px;
    background-color: #222;
    border: none;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.714285714em;
    border-bottom: 1px solid #222;
}

.search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.6em;
    font-size: 1.428571429em;
}

.search__input {
    width: 100%;
    padding: 0.8em 2em;
    line-height: inherit;
    border-bottom: 1px solid transparent;
    border-radius: 0;
}

.search__button {
    position: absolute;
    top: 0.4em;
    left: 0;
    padding: 0.4em;
    line-height: inherit;
    cursor: pointer;
}

.search__close {
    left: auto;
    right: 0;
}

.search__open {
    position: static;
    font-size: 1.428571429em;
}

.banner, .disclaimer {
    margin-bottom: 2.8571428574em;
    padding: 1.714285714em 0;
    text-align: center;
    border-bottom: 1px solid transparent;
}

.footer {
    padding: 1.714285714em 0 16em;
}

.switch:checked ~ .switch__zone {
    display: inline-block;
    vertical-align: top;
}

.switch:checked ~ .switch__button {
    display: none;
}

#page__top_logo {
    width: 450px;
    height: 333px;
    display: block;
}

[hidden],
[locked] {
    display: none;
}

@media all and (max-width: 800px) {

    .nav {
        display: none;
    }

    .nav__open:checked ~ .nav {
        display: flex;
        position: absolute;
        top:0;
        left: 0;
        z-index: 4;
    }

    .nav__overlay {
        z-index: 4;
    }

    .nav__expand {
        display: flex;
        padding: 0.071428571em;
    }

}

@media all and (max-height: 600px) {

    .nav__logo {
        padding: 1.5em 1em;
    }

}