@import "../menu.css";

.popup {
    position: absolute;
    padding: 0.857142857em 1.142857143em;
    border-radius: 4px;
    line-height: 1.571428571em;
    z-index: 1;
    cursor: auto;
}

.popup_has-tail::before {
    content: '';
    width: 0;
    position: absolute;
    right: 2.857142857em;
    bottom: 100%;
    border-left: 0.571428571em solid transparent;
    border-right: 0.571428571em solid transparent;
    border-bottom: 0.571428571em solid #fff;
}

.message__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 20em;
    padding: 2.285714286em;
    z-index: 3;
    overflow: hidden;
    pointer-events: none;
}
.message__wrapper label {
    display: block;
}
.message__wrapper input {
    display: none;
}
.message__wrapper input:checked + .message { display: flex; }
.message__wrapper input + .message { display: none; }
.message {
    position: relative;
    display: flex;
    margin: 0 0 1.142857143em 0;
    pointer-events: auto;
    cursor: pointer;
}

.message__item {
    padding-right: 1.142857143em;
}

.message__title {
    font-weight: bold;
}

.label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.checkbox {
    display: none;
}
.checkbox:checked ~ .checkbox-off,
.checkbox ~ .checkbox-on {
    display: none;
}
.checkbox ~ .checkbox-off,
.checkbox:checked ~ .checkbox-on {
    display: inline;
}

.icon-checkbox {
    position: relative;
    top: 1px;
}

.input {
    max-width: 100%;
    margin: 0;
    padding: 0.571428571em;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: inherit;
    outline: none;
}

.file-input {
    width: 13.714285714em;
    margin: 0;
    padding: 0.357142857em 0;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    line-height: 1em;
    font-size: inherit;
    cursor: pointer;
}

.file-input_hidden {
    width: 0.1px ;
    height: 0.1px ;
    margin: 0 ;
    padding: 0 ;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.textarea {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    vertical-align: top;
}

.password {
    position: relative;
}

.password-input {
    padding-right: 2.285714286em;
}

.password-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.search__input {
    -webkit-appearance: textfield;
}
    
.search__input::-ms-clear {
    display: none; 
}

.search__input::-webkit-search-cancel-button {
    display: none;
}

.icon {
    line-height: 1.57142857143em;
    text-align: center;
    font-family: 'nullnyan' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_size_b {
    display: inline-block;
    height: 1.57142857143em;
    min-width: 1.57142857143em;
    padding: 0.357142857em;
    border-radius: 2px;
    vertical-align: top;
    cursor: pointer;
}

.icon_size_b:hover {
    text-decoration: none;
}

.select {
    position: relative;
    height: 1.714285714em;
    line-height: 1.714285714em;
    border-radius: 2px;
    word-spacing: -0.285714286em;
    vertical-align: middle;
    overflow: hidden;

}

.select__input {
    height: inherit;
    margin: 0;
    padding:  0 2.285714286em 0 0.571428571em;
    border: 0;
    width: 125%;
    font-size: inherit;
    outline: none;
    word-spacing: normal;
    cursor: pointer;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
}

.select__icon {
    position: absolute;
    top: 0;
    right: 0.571428571em;
    line-height: inherit;
    pointer-events: none;
}

.menu__container {
    display: inline-block;
    position: relative;
    border-radius: 2px;
}

.menu {
    min-width: 9.142857143em;
    margin: 0;
    padding: 0;
    overflow: auto;
    word-break: break-all;
}

.menu__item {
    padding: 0.571428571em 0;
}

.menu__link {
    display: block;
    width: 100%;
    padding: 0.357142857em 1.142857143em;
    box-sizing: border-box;
}

.menu__link:hover {
    text-decoration: none;
}

.menu_hidden {
    display: none;
    top:  1.142857143em;
    right: -1.857142857em;
}

.menu__container:hover .menu_hidden {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.title {
    margin: 0;
    padding: 0.666666667em 0;
    font-size: 1.714285714em;
    line-height: 1.333333333em;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.main {
    flex-grow: 1;
    padding: 2.285714286em  5% 0 3.7735849%;
    overflow: auto;
    overflow: overlay;
}

.main > h4 {
    text-align: center;
}

.header, .footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-bottom: 1.714285714em;
    border-bottom: 1px solid;
}

.footer {
    margin-top: 1.714285714em;
    border-top: 1px solid;
}

.footer > .footer-space {
    padding: 1.714285714em 1.714285714em 2.8571428574em 1.714285714em;
    font-size: 9pt;
    width: 100%;
}

.post__footer {
    margin-top: 0.333333333em;
    font-size: 0.857142857em;
    font-style: italic;
    word-spacing: 0.333333333em;
}

.banner, .disclaimer {
    margin-bottom: 2.8571428574em;
    padding: 1.714285714em 0;
    text-align: center;
    border-bottom: 1px solid transparent;
}

.pagination {
    display: flex;
    justify-content: space-between;
    word-spacing: -0.285714286em;
    padding: 0 0 48px 0;
}

.pagination__link {
    display: inline-block;
    padding: 0.357142857em 0.928571429em;
    margin: 0 0.357142857em;
    border-radius: 2px;
    vertical-align: top;
    word-spacing: normal;
}

.pagination__link:hover {
    text-decoration: none;
}

.pagination__link_disable {
    cursor: default;
}

.switch:checked ~ .switch__zone {
    display: inline-block;
    vertical-align: top;
}

.switch:checked ~ .switch__button {
    display: none;
}

.block {
    min-height: 192px;
}

cite {
    font-size: 8pt;
    color: #aaa;
}
fieldset legend {
    font-size: 13pt;
    line-height: 32px;
}
fieldset span {
    font-size: 9pt;
}
fieldset span a {
    font-size: 10pt;
}
fieldset span i {
    color: #777;
}

.nii.form.field input {
    color: #777;
}