<?php

use X\System as System;
use X\Spell as Spell;

require_once 'head.tpl';
/*
Katana::tree();
import(System::SQL);

$offset = X::$page * 25;
$limit = $offset + 25;
$hidden = Spell::HIDDEN;

$boards = SQL::kq("SELECT `lt` from `nodes` where `mode` & {$hidden} = 0 AND `lt` != 'e'", SQL::ARR | SQL::NUM);
$boardposts = array();
$literal = '';
foreach ($boards as $_literal){
	$literal = $_literal[0];
	$boardposts[] = "( select `id`, `bump` as `nd` from `node_{$literal}` where `rl` = 0 order by `bump` desc )";
}
$boardunion = implode(" union ", $boardposts);
$selected = SQL::kq("SELECT feed.* from ( {$boardunion} ) as `feed` order by `bump` desc limit {$offset}, {$limit}", SQL::ARR | SQL::NUM);
X::$node = "";
foreach ($selected as $thread){
	if (file_exists($chunk = ROOT.'content/'.$thread[2].'/chunk/'.$thread[0].'.htm')){
		if(X::$node != $thread[2]){
			Katana::cata($thread[2], true);
		}
		X::$node = $thread[2];
		X::$temp = explode('.',X::$cata[intval($thread[0])][1]);
		echo "<a href='/{$thread[2]}'>/{$thread[2]}/</a>"
			."<samp>".X::$temp[0]." posts (".X::$temp[1]." files, ".X::$temp[2]." links) &mdash; "
			.X::$tree[$thread[2]]["desc"]
			."<a href='/{$thread[2]}/thread/{$id}'>Open <i class='icon-right'></i></a>"
			."</samp>"
			."<section id='{$thread[2]}{$id}' class='flow' data-id='{$thread[0]}' data-node='{$thread[2]}'>";
		include $chunk;
		echo "</section>";
	}
}
*/
require_once 'foot.tpl';

?>