<?php require_once 'head.tpl'; ?>
<div><section class="thread open" id="T<?=X::$wire?>"><?php X::$view->content(); ?></section></div>
<aside class="banner" hidden><?php X::$view->banner(); ?></aside>
<aside class="disclaimer"><?php X::$view->disclaimer(); ?></aside>
<?php require_once 'foot.tpl'; ?>