body {
	color: #333;
	background: #eee;
}

a, a:visited {
	color: #555;
}
a:hover {
	color: #222;
}

label, legend {
	color: #777;
}

.highlight,
.spoiler:hover .highlight {
	color: #555;
}

.drown {
	color: #7e7f82; 
}

.button_primary {
	color: #555;
	background: white;
	border-color: #ddd;
}

.button_primary:hover,
.button_primary:active {
	background: #fafafa;
}

.button_primary:focus {
	background: #4ac294;
}

.button_secondary {
	background: #22242b;
}

.button_secondary:focus,
.button_secondary:active,
.button_secondary:hover {
	color: #bfbfbf;
	background: #343740;
}

.buton_warning {
	color: #0d0e12;
	background: #ff7f9d;
}

.buton_warning:hover,
.buton_warning:active,
.buton_warning:focus,
.button_hover_warning:hover,
.button_hover_warning:active,
.button_hover_warning:focus {
	color: #0d0e12;
	background: #eb6c8c;
}

.button_clear {
	color: #bfbfbf;
}

.icon-checkbox {
	color: #484b54; 
}

.checkbox:checked+.icon-checkbox {
	color: #7fffd4;
}

.input,
.textarea {
	color: #bfbfbf;
	background: #fafafa;
	border-color: #D1D1D1;
}

.input:focus,
.textarea:focus,
.password-icon:active+.input,
.password-icon:focus+.input {
	color: #333;
	background: white;
	outline: none;
}

.search__input,
.search__input:focus   {
	color: #bfbfbf;
	background: #111217;
}

.search__input:focus {
	border-color: #7fffd4;
}

.select__input {
	color: #7e7f82;
	background: #22242b;
}

.select__input:hover,
.select__input:active,
.select__input:focus {
	color: #999;
	background: #343740;
	outline: none;
}

.password-icon {
	opacity: .4;
}

.password-icon:hover,
.password-icon:active,
.password-icon:focus {
	opacity: 1;
}

::selection {
	color: white;
	background: #bbb;
}

::-moz-selection {
	color: white;
	background: #bbb;
}

::placeholder {
    color: #aaa;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #aaa;
}

::-ms-input-placeholder {
    color: #aaa;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

::-webkit-scrollbar-corner {
	background: #ccc;
}

.code {
	background: #eee;
}

.spoiler {
	background: #ccc;
}

.spoiler:hover {
	background: #eee;
}

.menu {
	background: #fafafa; 
}

.menu__link:focus,
.menu__link:active,
.menu__link:hover {
	color: #333;
	background: #f5f5f5;
	outline: none;
}

.overlay,
.overlay:active {
	color: #333;
	background: rgba(255, 255, 255, .85);
	text-shadow: 0 0 0 #aaa;
}

.icon_hover:focus,
.icon_hover:active,
.icon_hover:hover {
	color: #111;
	background: #eee;
}

.icon_hover_light:focus,
.icon_hover_light:active,
.icon_hover_light:hover {
	color: #111;
	outline: none;
	text-shadow: 0 0 0;
}

.nav__main hr {
	background: #ddd;
}

.nav__close {
	color: #111;
}

.nav__link_active {
	border-color: #555;
	font-weight: 700;
}

.nav__summary:focus {
	background: none;
}

.nav__summary:hover {
	background: #22242b;
}

.header, .footer {
	border-color: #ccc;
}

.footer > .footer-space {
	color:#777;
}

.header__catalog:hover,
.search__button:hover {
	color: inherit;
}

.postform__form {
	color: #555;
	background: #fafafa;
	box-shadow: 0 0 4px #ddd;
}

.postform__main {
	background: white;
	border-color: #eee;
}

.postform__input,
.postform__textarea {
	color: #555;
	border-color: #ddd;
	background: transparent;
}

.postform__input:focus,
.postform__textarea:focus,
.password-icon:active+.postform__input {
	color: #333;
	background: transparent;
	border-color: #bbb;
}

.postform__label_wide:hover,
.postform__label_wide:focus,
.postform__label_wide:active,
.postform__file-input:focus~.postform__file-label{
	color: #999;
}

:checked+.postform__sage-icon {
	color: #ff7f9d;
}

.postform__file-preview:hover i.icon-warning {
	color: #ffbb3f;
}

.thread,
.banner,
.disclaimer {
	border-color: #ccc;
}

.post__date {
	color: #666;
}
.post__reply {
	background: white;
	border: 1px solid #ddd;
	box-shadow: 0 0 4px #dfdfdf;
}
.post:target .post__reply {
	border-color: #777;
}

.admin {
	color: #ff7f9d;
}

.post__header,
.post__reflink,
.post__icon,
.refmap {
	color: #999;
}

.post__message {
	word-break: break-word;
	word-wrap: break-word;
}

.post__sage {
	color: #ff7f9d;
}

.post__icon:hover,
.thread__open:hover {
	color: #444;
}

.file__preview_has_icon {
	background: #eee;
}

.pagination__link {
	color: inherit;
}

.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
	color: #bfbfbf;
	background: #343740;
	outline: none;
}

.pagination__link_active,
.pagination__link_active:hover {
	color: #888;
	background: white;
}

.pagination__link_disable:hover {
	color: inherit;
	background: none;
}


