body {
	color: #bfbfbf; 
	background: #111217;
}

a {
	color: #bfbfbf;
}

.highlight,
.spoiler:hover .highlight {
	color: #7fffd4;
}

.drown {
	color: #7e7f82; 
}

.button_primary {
	color: #0d0e12;
	background: #6cebbe;
}

.button_primary:hover,
.button_primary:active {
	background: #5ad6a9;
}

.button_primary:focus {
	background: #4ac294;
}

.button_secondary {
	background: #22242b;
}

.button_secondary:focus,
.button_secondary:active,
.button_secondary:hover {
	color: #bfbfbf;
	background: #343740;
}

.buton_warning {
	color: #0d0e12;
	background: #ff7f9d;
}

.buton_warning:hover,
.buton_warning:active,
.buton_warning:focus,
.button_hover_warning:hover,
.button_hover_warning:active,
.button_hover_warning:focus {
	color: #0d0e12;
	background: #eb6c8c;
}

.button_clear {
	color: #bfbfbf;
}

.icon-checkbox {
	color: #484b54; 
}

.checkbox:checked+.icon-checkbox {
	color: #7fffd4;
}

.input,
.textarea {
	color: #bfbfbf;
	background: #22242b;
	border-color: #272930;
}

.input:focus,
.textarea:focus,
.password-icon:active+.input,
.password-icon:focus+.input {
	color: #ddd;
	background: #343740;
	outline: none;
}

.search__input,
.search__input:focus   {
	color: #bfbfbf;
	background: #111217;
}

.search__input:focus {
	border-color: #7fffd4;
}

.select__input {
	color: #7e7f82;
	background: #22242b;
}

.select__input:hover,
.select__input:active,
.select__input:focus {
	color: #999;
	background: #343740;
	outline: none;
}

.password-icon {
	opacity: .4;
}

.password-icon:hover,
.password-icon:active,
.password-icon:focus {
	opacity: 1;
}

::selection {
	color: #eee;
	background: #7fffd4;
}

::-moz-selection {
	color: #0d0e12;
	background: #7fffd4;
}

::placeholder {
    color: #4f5259;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #4f5259;
}

::-ms-input-placeholder {
    color: #4f5259;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #22242b;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #343740;
}

::-webkit-scrollbar-corner {
	background: #22242b;
}

/*::-webkit-resizer {
	Нужно как-то убрать две белые линии у ресайза.
}*/

.popup {
	background: #22242b;
	box-shadow: 0 0 15px #0d0e12;
}

.popup_grey {
	color: #d4d4d4;
	background: #343740;
}

.popup_grey::before {
	border-bottom-color: #343740;
}

.message_warning {
    background-color: #ffbb3f;
    color: black;
}

.message_failure {
    background-color: #ff5959;
    color: black;
}

.code {
	color: #999;
	background: #111217;
}

.spoiler {
	background: #0d0e12;
}

.spoiler:hover {
	background: #191b21;
}

.menu {
	background: #0d0e12; 
}

.menu__link:focus,
.menu__link:active,
.menu__link:hover {
	background: #191b21;
	outline: none;
}

.overlay,
.overlay:active {
	color: #eee; 
	background: rgba(0, 0, 0, .7);
}

.icon_hover:focus,
.icon_hover:active,
.icon_hover:hover {
	color: #bfbfbf;
	background: #343740;
}

.icon_hover_light:focus,
.icon_hover_light:active,
.icon_hover_light:hover {
	color: #0d0e12;
	background: #6cebbe;
	outline: none;
}

.nav__close {
	color: #484b54;
}

.nav__link_active {
	border-color:  #7fffd4;
	font-weight: 700;
}

.nav__summary:focus {
	background: none;
}

.nav__summary:hover {
	background: #22242b;
}

.header {
	border-color: #272930;
}

.header__catalog:hover,
.search__button:hover {
	color: inherit;
}

.postform__form {
	color: #7e7f82;
	background: #191b21;
	box-shadow: 0 0 28px #0d0e12;
}

.postform__main {
	background: #111217;
}

.postform__input,
.postform__textarea {
	color: #999;
	border-color: #22242b;
	background: transparent;
}

.postform__input:focus,
.postform__textarea:focus,
.password-icon:active+.postform__input {
	color: #bfbfbf;
	background: transparent;
	border-color: #484b54;
}

.postform__label_wide:hover,
.postform__label_wide:focus,
.postform__label_wide:active,
.postform__file-input:focus~.postform__file-label{
	color: #999;
}

:checked+.postform__sage-icon {
	color: #ff7f9d;
}

.postform__file-preview:hover i.icon-warning {
	color: #ffbb3f;
}

.thread,
.banner,
.disclaimer {
	border-color: #272930;
}

.post__date {
	color: #666;
}
.post__reply {
	background: #22242b;
	border-left: 1px solid transparent;
}
.post:target .post__reply {
	border-color: #6cebbe;
}

.admin {
	color: #ff7f9d;
}

.post__header,
.post__reflink,
.post__icon,
.refmap {
	color: #999;
}

.post__sage {
	color: #ff7f9d;
}

.post__icon:hover,
.thread__open:hover {
	color: #eee;
}

.file__preview_has_icon {
	background: #111217;
}

.pagination__link {
	color: inherit;
}

.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
	color: #bfbfbf;
	background: #343740;
	outline: none;
}

.pagination__link_active,
.pagination__link_active:hover {
	color: #888;
	background: #22242b;
}

.pagination__link_disable:hover {
	color: inherit;
	background: none;
}


