button,hr,input{overflow:visible}
audio,canvas,progress,video{display:inline-block}
progress,sub,sup{vertical-align:baseline}
[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-smoothing:antialiased}
body{margin:0;display:flex}
html,body{height:100%;width:100%;font-family:'Open sans',sans-serif;line-height:1.57142857143em}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}
h1{font-size:2em;margin:.67em 0}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}
dfn{font-style:italic}
mark{background-color:#0d0e12;color:#0d0e12}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative}
sub{bottom:-.25em}
sup{top:-.5em}
audio:not([controls]){display:none;height:0}
img{border-style:none}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}
button,select{text-transform:none}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}
fieldset{padding:.35em .75em .625em}
legend{color:inherit;display:table;max-width:100%;white-space:normal}
textarea{overflow:auto}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
summary{display:list-item}
[hidden],template{display:none!important}
@font-face{font-family:nyanfont;src:url(/assets/font/nyanfont.eot?51250264);src:url(/assets/font/nyanfont.eot?51250264#iefix) format('embedded-opentype'),url(/assets/font/nyanfont.woff2?51250264) format('woff2'),url(/assets/font/nyanfont.woff?51250264) format('woff'),url(/assets/font/nyanfont.ttf?51250264) format('truetype'),url(/assets/font/nyanfont.svg?51250264#nyanfont) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(/assets/font/OpenSans.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(/assets/font/OpenSans.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(/assets/font/OpenSans.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'),local('OpenSans-Regular'),url(/assets/font/OpenSans.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
[class*=" icon-"]:before,[class^=icon-]:before,icon:before{
	font-family:nyanfont;font-style:normal;font-weight:400;font-variant:normal;
	display:inline-block;speak:none;width:1em;margin:0 .2em;line-height:1em;
	text-decoration:inherit;text-align:center;text-transform:none;
	-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}
.icon-add:before{content:'\e82e'}
.icon-announce:before{content:'\e822'}
.icon-arrow-down:before{content:'\e80c'}
.icon-arrow-left:before{content:'\e80d'}
.icon-arrow-right:before{content:'\e80e'}
.icon-arrow-up:before{content:'\e80f'}
.icon-attach:before{content:'\e804'}
.icon-attention-1:before{content:'\e802'}
.icon-calendar:before{content:'\e81c'}
.icon-cancel:before{content:'\e82b'}
.icon-catalist:before{content:'\e806'}
.icon-check-in:before{content:'\f14a'}
.icon-check-on:before{content:'\e81b'}
.icon-check:before{content:'\f096'}
.icon-coin:before{content:'\f15a'}
.icon-comment:before{content:'\e810'}
.icon-deny:before{content:'\e821'}
.icon-down-cut:before{content:'\e808'}
.icon-down:before{content:'\e82d'}
.icon-download:before{content:'\e823'}
.icon-edit-page:before{content:'\e835'}
.icon-edit:before{content:'\e836'}
.icon-fav-no:before{content:'\f097'}
.icon-fav-yes:before{content:'\e803'}
.icon-file-add:before{content:'\e811'}
.icon-file-arc:before{content:'\f1c6'}
.icon-file-aud:before{content:'\f1c7'}
.icon-file-cod:before{content:'\f1c9'}
.icon-file-doc-inv:before{content:'\f15b'}
.icon-file-doc:before{content:'\e813'}
.icon-file-fla:before{content:'\e812'}
.icon-file-img:before{content:'\f1c5'}
.icon-file-txt:before{content:'\f0f6'}
.icon-file-vid:before{content:'\f1c8'}
.icon-forward:before{content:'\e827'}
.icon-globe:before{content:'\e828'}
.icon-hakase:before{content:'\f020'}
.icon-help:before{content:'\f1cd'}
.icon-hex-check:before{content:'\e900'}
.icon-hex-logo:before{content:'\e901'}
.icon-hex:before{content:'\e902'}
.icon-infinity:before{content:'\e829'}
.icon-info:before{content:'\e88f'}
.icon-invisible:before{content:'\e8f5'}
.icon-io-assemble:before{content:'\f12e'}
.icon-io-commands:before{content:'\f120'}
.icon-io-firewall:before{content:'\f132'}
.icon-io-moderate:before{content:'\e819'}
.icon-io-worldnet:before{content:'\e81d'}
.icon-key:before{content:'\e81a'}
.icon-left-cut:before{content:'\e809'}
.icon-left:before{content:'\f104'}
.icon-link:before{content:'\e801'}
.icon-listen:before{content:'\e817'}
.icon-login:before{content:'\e814'}
.icon-logout:before{content:'\e815'}
.icon-menu-vert:before{content:'\e903'}
.icon-menu:before{content:'\e831'}
.icon-network:before{content:'\e824'}
.icon-news:before{content:'\f1ea'}
.icon-night:before{content:'\e820'}
.icon-off:before{content:'\f204'}
.icon-ok:before{content:'\e82a'}
.icon-on:before{content:'\f205'}
.icon-options:before{content:'\e8b8'}
.icon-p2p:before{content:'\e816'}
.icon-person:before{content:'\e830'}
.icon-refresh:before{content:'\e807'}
.icon-remove:before{content:'\e82f'}
.icon-reply-all:before{content:'\e826'}
.icon-reply:before{content:'\e825'}
.icon-right-cut:before{content:'\e80a'}
.icon-right:before{content:'\f105'}
.icon-sage:before{content:'\e8d7'}
.icon-search:before{content:'\e8b6'}
.icon-sort-down:before{content:'\f0dd'}
.icon-sort-up:before{content:'\f0de'}
.icon-sort:before{content:'\f0dc'}
.icon-spell-cursed:before{content:'\e800'}
.icon-spell-divide:before{content:'\f0c5'}
.icon-spell-locked:before{content:'\f023'}
.icon-spell-pinned:before{content:'\f08d'}
.icon-sys-backup:before{content:'\e833'}
.icon-sys-cleanup:before{content:'\f1f8'}
.icon-sys-database:before{content:'\e832'}
.icon-sys-distribution:before{content:'\e81e'}
.icon-sys-indicator:before{content:'\e805'}
.icon-sys-power:before{content:'\e834'}
.icon-target:before{content:'\e81f'}
.icon-up-cut:before{content:'\e80b'}
.icon-up:before{content:'\e82c'}
.icon-visible:before{content:'\e8f4'}
.icon-watch:before{content:'\e818'}