@import '/assets/css/null.css';
body{background:#000}header,main label,[text],[bckg]{top:0}
footer,header,main label,[bckg],[text],[desc]{position:fixed;left:0;right:0;width:100%}
[bckg],main label,footer{bottom:0}[desc]{top:72px}
footer,header{background:rgba(0,0,0,.3);text-align:center;z-index:3}
[logo],[text],footer,header{height:64px}
[logo],footer a{display:inline-block;text-decoration:none;color:#fff}
[bckg]{background-position:center center;background-size:100% auto;background-repeat:no-repeat}
[logo]{line-height:64px;background:url(/assets/i/logo.png) center center/48px 48px no-repeat;width:256px}
[text]{font-size:22pt;font-family:"Arial Black",Gadget,sans-serif;margin:0;line-height:64px;color:#fff;}
#menu{display:none}
footer a{width:128px;padding:8px 0;margin:16px;font-size:9pt;font-weight:700;font-family:"Trebuchet MS",Helvetica,sans-serif;border:1px solid}
footer label{display:none}
a:hover{color:#ffffdc/*#89c6bb*/}
[desc]{color:#fff;font-size:10pt;text-shadow: 0 0 1px black}
main label{background:url(/assets/i/hex1.png) center center/256px 256px no-repeat transparent;background-blend-mode:overlay;mix-blend-mode:overlay}
#bckgContainer{opacity:0}
[bckg]{filter:sepia(55%) grayscale(100%);backface-visibility:hidden;transition:opacity 10s ease-in,filter 30s ease-out}
[bckg].ready{opacity:1!important;filter:sepia(35%) grayscale(10%)}
@media (max-width:999px), (orientation: portrait) {
	main label{z-index:8}
	#menu~footer,#menu~footer>*{visibility:hidden;opacity:0}
	#menu:checked~footer,#menu:checked~footer>*{visibility:visible;opacity:1;z-index:9}
	footer,footer>*{transition:opacity .5s ease-in-out,visibility .5s ease-in-out}
	header{display:none}
	footer{top:0;left:0;width:100%;height:100%;padding:calc(50vh - 220px) 0;background-color:rgba(0,0,0,.5);z-index:9!important}
	footer a{display:block!important;margin:32px auto!important}
	footer label{display:block;position:absolute;top:16px;right:16px;cursor:pointer}
	footer i{color:white;font-size:17pt}
}
@media only screen and (orientation: landscape) { [bckg]{background-size:100% auto} }
@media only screen and (orientation: portrait) { [bckg]{background-size:auto 100%} }
@media screen and (min-aspect-ratio: 16/9) { [bckg]{background-size:100% auto} }
@media screen and (max-aspect-ratio: 16/9) { [bckg]{background-size:auto 100%} }