[logo]{
	display: block;
	width: 364px;
	height: 256px;
	margin: 0 auto;
}
main section { padding-left: 64px; background: none; }
section > ul { padding: 0; }
section > ul > li {
	margin: 0 0 32px 0;
	list-style-position: inside;
}
dfn { color: white; font-style: normal; }
time { float:right; font-style: italic; }