
html, body {
	background: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
    line-height: 64px;
    text-align: center;
    color: #aaa;
    font-size: 21px;
    font-style: italic;
}

main {
    width: 800px;
    margin: 0 auto;
}

main aside {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
main aside.first {
    padding: 32px;
    font-size: 14px;
    box-sizing: border-box;
    font-style: italic;
    color: #555;
    text-shadow: 0 0 0;
}
main aside.last {
	float: right;
    width: 400px;
    height: 400px;
    position: relative;
}

main aside div {
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}
main aside div.first {
    background-size: 250px auto;
}
main aside div.last {
	background-image: url(/assets/i/2018/kartinka.png);
}