section{margin:0 auto;width:512px}
form option,form select{background:#07080a}
form div{margin:16px 0;padding:0 32px}
form label{cursor:pointer;margin:8px 0;font-size:10pt}
form cite{font-style:normal;font-size:10pt}
form i{width:32px;font-size:12px;text-align:center}
form button,form select{font-size:10pt;color:#7fffd4;padding:0 8px;border:none}
form option{color:#7fffd4}
form div:last-child{text-align:right}
form button{background:0 0;line-height:20px}
form button:hover{color:wheat}
[toggle]:checked~cite,form [on]{color:#7fffd4}