.nav {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 16em;
    flex-shrink: 0;
    font-size:1.4rem;
}

.nav__header {
    flex-shrink: 0;
    margin-bottom: 1px;
    padding: 0;
}

.nav__link {
    border-left: 0.285714286em solid transparent;
    padding: 0.357142857em 1.714285714em 0.357142857em 1.428571429em;
}

.nav__logo {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    padding: 2em 1em;
    border: none;
}

.nav__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.285714286em;
}

.nav__open ~ .nav__expand,
.nav__open:checked ~ .nav {
    display: flex;
}
.nav__open:checked ~ .nav__expand,
.nav__open ~ .nav {
    display: none;
}

.nav__expand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    border-radius: 0;
}

.nav__main {
    flex-grow: 1;
    overflow: hidden;
}

.nav__main:hover {
    overflow: auto;
    overflow: overlay;
}

.nav__main hr {
    height: 1px;
    margin: 8px 0;
    border: none;
}

.nav__main .nav__link:last-child {
    margin-bottom: 1.142857143em;
}

.nav__summary + .nav__link{
    margin-top: 0.285714286em;
}

.nav__summary {
    padding-right: 0.285714286em;
    font-weight: 700;
    cursor: pointer;
}

.nav__summary::-webkit-details-marker {
    display: none
}

.nav__summary-icon {
    padding-top: 0;
    padding-bottom: 0;
    float: right;
}

.nav__footer {
    padding-bottom: 0.857142857em;
}