@font-face {
  font-family: 'nullnyan';
  src:  url('../fonts/nullnyan.eot?j2z5pm');
  src:  url('../fonts/nullnyan.eot?j2z5pm#iefix') format('embedded-opentype'),
    url('../fonts/nullnyan.ttf?j2z5pm') format('truetype'),
    url('../fonts/nullnyan.woff?j2z5pm') format('woff'),
    url('../fonts/nullnyan.svg?j2z5pm#nullnyan') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open sans';
  src:  url('../fonts/OpenSans-Regular.ttf');
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font: 14px/1.57142857143em 'Open sans', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	letter-spacing: 0.02em;
	overflow: hidden;
}

body {
	display: flex;
}

a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
}

.button {
	display: inline-block;
	margin: 0;
	padding: 0 1.142857143em;
	border: 0;
	border-radius: 2px;
	box-sizing: border-box;
	line-height: 2.285714286em;
	font-size: 1em;
	background: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	color: inherit;
}

.button_size_s {
	padding: 0 0.571428571em;
}

.button_secondary {
	border: 1px solid transparent;
}

.popup {
	position: absolute;
	padding: 0.857142857em 1.142857143em;
	border-radius: 0.285714286em;
	line-height: 1.571428571em;
	z-index: 1;
	cursor: auto;
}

.popup_has-tail::before {
	content: '';
	width: 0;
	position: absolute;
	right: 2.857142857em;
	bottom: 100%;
	border-left: 0.571428571em solid transparent;
	border-right: 0.571428571em solid transparent;
	border-bottom: 0.571428571em solid #fff;
}

.message__wrapper {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 20em;
	padding: 2.285714286em;
	z-index: 3;
	overflow: hidden;
	pointer-events: none;
}

.message {
	position: relative;
	display: flex;
	float: right;
	margin-bottom: 1.142857143em;
	border-top: 2px solid transparent;
	pointer-events: auto;
}

.message:last-child {
	margin-bottom: 0;
}

.message__item {
	padding-right: 1.142857143em;
}

.message__title {
	font-weight: bold;
}

.label {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.checkbox {
	display: none;
}

.icon-checkbox {
	position: relative;
	top: 1px;
}

.input {
	max-width: 100%;
	margin: 0;
	padding: 0.571428571em;
	border: 0;
	border-radius: 2px;
	box-sizing: border-box;
	font-size: inherit;
	outline: none;
}

.file-input {
	width: 13.714285714em;
	margin: 0;
	padding: 0.357142857em 0;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	line-height: 1em;
	font-size: inherit;
	cursor: pointer;
}

.file-input_hidden {
	width: 0.1px ;
	height: 0.1px ;
	margin: 0 ;
	padding: 0 ;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.textarea {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	font-size: inherit;
	line-height: inherit;
	outline: none;
	vertical-align: top;
}

.password {
	position: relative;
}

.password-input {
	padding-right: 2.285714286em;
}

.password-icon {
	position: absolute;
	top: 0;
	right: 0;
}

.search__input {
	-webkit-appearance: textfield;
}
	
.search__input::-ms-clear {
	display: none; 
}

.search__input::-webkit-search-cancel-button {
	display: none;
}

.icon {
	line-height: 1.57142857143em;
	text-align: center;
	font-family: 'nullnyan' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_size_b {
	display: inline-block;
	height: 1.57142857143em;
	min-width: 1.57142857143em;
	padding: 0.357142857em;
	border-radius: 2px;
	vertical-align: top;
	cursor: pointer;
}

.icon_size_b:hover {
	text-decoration: none;
}

.select {
	position: relative;
	height: 1.714285714em;
	line-height: 1.714285714em;
	border-radius: 2px;
	word-spacing: -0.285714286em;
	vertical-align: middle;
	overflow: hidden;

}

.select__input {
	height: inherit;
	margin: 0;
	padding:  0 2.285714286em 0 0.571428571em;
	border: 0;
	width: 125%;
	font-size: inherit;
	outline: none;
    word-spacing: normal;
    cursor: pointer;
	-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select__icon {
	position: absolute;
	top: 0;
	right: 0.571428571em;
	line-height: inherit;
	pointer-events: none;
}

.quotes,
.spoiler:hover .quotes {
	quotes: none;
	color: #92bf77;
}

.code {
	font-size: 1em;
	margin: 0.285714286em 0;
	padding: 0.571428571em;
	border-radius: 2px;
}

.spoiler {
	display: inline-block;
	padding: 0 0.285714286em;
	border-radius: 2px;
	color: transparent;
	vertical-align: top;
}

.spoiler:hover {
	color: inherit;
}

.spoiler .quotes,
.spoiler .highlight {
	color: transparent;
}

.menu__item {
	padding: 0.571428571em 0;
}

.menu {
	margin: 0;
	padding: 0;
	overflow: auto;
	word-break: break-all;
}

.menu__link {
	display: block;
	padding: 0.357142857em 1.142857143em;
}

.menu__link:hover {
	text-decoration: none;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.title {
	margin: 0;
	padding: 0.666666667em 0;
	font-size: 1.714285714em;
	line-height: 1.333333333em;
	font-weight: 500;
	letter-spacing: 0.05em;
}

.main {
	flex-grow: 1;
	padding: 2.285714286em  5% 0 3.7735849%;
	overflow: auto;
	overflow: overlay;
}

.nav {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	width: 16em;
	flex-shrink: 0;
}

.nav__header {
	flex-shrink: 0;
	margin-bottom: 1px;
	padding: 0;
}

.nav__link {
	border-left: 0.285714286em solid transparent;
	padding: 0.357142857em 1.714285714em 0.357142857em 1.428571429em;
}

.nav__logo {
	display: block;
	padding: 2em 1em;
	border: none;
}

.nav__close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.285714286em;
}

.nav__expand {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0;
}

.nav__main {
	flex-grow: 1;
	overflow: hidden;
}

.nav__main:hover {
	overflow: auto;
	overflow: overlay;
}

.nav__main .nav__link:last-child {
	margin-bottom: 1.142857143em;
}

.nav__summary + .nav__link{
	margin-top: 0.285714286em;
}

/*Проще было бы через padding, но браузеры, неподдерживающие details,
не реагируют на правила для этого тега*/

.nav__summary {
	padding-right: 0.285714286em;
	font-weight: 700;
	cursor: pointer;
}

.nav__summary::-webkit-details-marker {
	display: none
}

.nav__summary-icon {
	padding-top: 0;
	padding-bottom: 0;
	float: right;
}

.nav__footer {
	padding-bottom: 0.857142857em;
}

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.714285714em;
	border-bottom: 1px solid #222;
}

.search {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 1.6em;
	font-size: 1.428571429em;
}

.search__input {
	width: 100%;
	padding: 0.8em 2em;
	line-height: inherit;
	border-bottom: 1px solid transparent;
	border-radius: 0;
}

.search__button {
	position: absolute;
	top: 0.4em;
	left: 0;
	padding: 0.4em;
	line-height: inherit;
	cursor: pointer;
}

.search__close {
	left: auto;
	right: 0;
}

.search__open {
	position: static;
	font-size: 1.428571429em;
}

.postform {
	line-height: 0;
}

.postform__open {
	margin-bottom: 1.714285714em;
}

.postform__container {
	width: 100%;
	box-sizing: border-box;
	pointer-events: none;
}

.postform__container_floating {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0.571428571em;
	text-align: center;
	z-index: 2;
}

.postform__form {
	display: inline-block;
	position: relative;
	max-width: 100%;
	margin-bottom: 2.285714286em;
	border-radius: 2px;
	text-align: left;
	pointer-events: auto;
	z-index: 2;/*******Надо поставить через js*/
}

.postform__item {
	display: flex;
	justify-content: space-between;
	word-spacing: -0.285714286em;
	line-height: 2.285714286em;
}

.postform__header {
	padding: 0.571428571em;
}

.postform__main {
	margin: 0 0.571428571em 0.571428571em;
	padding: 0.285714286em 0.571428571em 0.571428571em;
}

.postform__input {
	width: 100%;
	padding-top: 0.571428571em;
	padding-bottom: 0.857142857em;
	padding-left: 0;
	border-radius: 0;
	border-bottom: 1px solid transparent;
}

.postform__title {
	padding: 0 0.571428571em;
	word-spacing: normal;
}

.postform__help-icon {
	cursor: default;
}

.postform__help:hover,
.postform__help-icon:hover ~ .postform__help  {
	display: block;
}

.postform__help {
	right: 0.571428571em;
	margin: 0;
	word-spacing: normal;
	list-style: none;
}

.postform__subject {
	position: relative;
	flex-grow: 1;
}

.postform__boards {
	position: absolute;
	right: 0;
	top: 0.285714286em;
	height: 1.714285714em;
}

.postform__boards+.postform__subject-input {
	/*padding-right: 3.142857143em;*/
	/*Здесь я не знаю, как выкрутиться, если задаю паддинг больше, то 
	форма ответа начинает разъезжаться.*/
}

.postform__password {
	flex-basis: 25%;
	margin-left: 1.142857143em;
}

.postform__textarea {
	min-height: 8em;
	width: 100%;
	min-width: 34.285714286em;
	max-width: 100%;
	margin: 0.571428571em 0;
	line-height: 1.571428571em;
}

.postform__label_wide {
	padding: 0 0.571428571em;
	word-spacing: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.postform__file {
	display: flex;
}

.postform__file-label {
	padding-left: 0;
}

.postform__file-preview {
	display: inline-block;
	position: relative;
	min-width: 2.285714286em;
	margin-right: 0.571428571em;
	text-align: center;
}

.postform__img-preview {
	max-height: 2.285714286em;
	max-width: 4.571428571em;
}

.postform__file-preview:hover .postform__remove-file {
	display: block;
	line-height: inherit;
	cursor: pointer;
}

@media all and (max-width: 600px) {

	.postform__item {
		display: block;
	}

	.postform__header {
		display: flex;
	}

	.postform__password {
		margin: 0;
	}

	.postform__textarea {
		min-width: 18.571428571em;
	}

	.postform__file-input {
		width: 50%;
	}

	.postform__button {
		width: 100%;
		margin-top: 0.571428571em;
	}

}

.thread {
	margin-top: 1.714285714em;
	padding-bottom: 1.714285714em;
	border-bottom: 1px solid #222;
	overflow: hidden;
}

.post {
	display: inline-block;
	margin-top: 0.571428571em;
	padding: 0.285714286em 1.142857143em 0.857142857em; 
	border-radius: 2px;
}

.post_op {
	display: block;
	margin: 0;
	padding: 0;
}

.post__header {
	word-spacing: 0.285714286em;
}

.post__board,
.post__title,
.post__reflink  {
	font-weight: 700;
	word-spacing: normal;
}

.post__date,
.post__reflink {
	display: inline-block;
	font-size: 0.857142857em;
	vertical-align: middle;
	word-spacing: normal;
}

.post__reply {
	padding: 0 0.285714286em;
	border-radius: 2px;
	vertical-align: middle;
}

.file {
	float: left;
	margin: 0.333333333em 1.333333333em 0.333333333em 0;
	font-size: 0.857142857em;
	font-weight: 700;
}

.file__name {
	max-width: 20em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.file__preview {
	position: relative;
}

.file__preview:hover .file__size {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.file__preview:hover .file__search {
	display: block;
	position: absolute;
	top: 0.333333333em;
	right: 0.333333333em;
	z-index: 1;
}

.post__footer {
	margin-top: 0.333333333em;
	font-size: 0.857142857em;
	font-style: italic;
	word-spacing: 0.333333333em;
}

.thread__footer {
	margin-top: 0.571428571em;
}

.thread__omitted {
	margin-right: 0.571428571em;
}

.thread__open {
	text-decoration: underline;
}

.banner {
	margin-bottom: 2.8571428574em;
	padding: 1.714285714em 0;
	text-align: center;
	border-bottom: 1px solid transparent;
}

.pagination {
	display: flex;
	justify-content: space-between;
	padding: 1.714285714em 0 16em;
	word-spacing: -0.285714286em;
}

.pagination__link {
	display: inline-block;
	padding: 0.357142857em 0.928571429em;
	border-radius: 2px;
	vertical-align: top;
	word-spacing: normal;
}

.pagination__link:hover {
	text-decoration: none;
}

.switch:checked ~ .switch__zone {
	display: inline-block;
	vertical-align: top;
}

.switch:checked ~ .switch__button {
	display: none;
}

[hidden],
[locked] {
	display: none;
}

@media all and (max-width: 800px) {

	.nav {
		display: none;
	}

	.nav__open:checked ~ .nav {
		display: flex;
		position: absolute;
		top:0;
		left: 0;
		z-index: 4;
	}

	.nav__overlay {
		z-index: 4;
	}

	.nav__expand {
		display: flex;
		padding: 0.071428571em;
	}

}

@media all and (max-height: 600px) {

	.nav__logo {
		padding: 1.5em 1em;
	}

	.postform__container_floating {
		text-align: right;
	}

}

.icon-menu-vert:before {
  content: "\e903";
}
.checkbox:checked+.icon-checkbox:before {
  content: "\e900";
}
.icon-logo:before {
  content: "\e901";
}
.icon-checkbox:before {
  content: "\e902";
}
.icon-movie:before {
  content: "\f008";
}
.icon-th:before {
  content: "\f00a";
}
.icon-lock:before {
  content: "\f023";
}
.icon-cancel:before {
  content: "\f057";
}
.icon-warning:before {
  content: "\f071";
}
.icon-pin:before {
  content: "\f08d";
}
.icon-prev:before {
  content: "\f104";
}
.icon-next:before {
  content: "\f105";
}
.icon-add:before {
  content: "\e145";
}
.icon-attach:before {
  content: "\e226";
}
.icon-ok:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-img-search:before {
  content: "\e880";
}
.icon-help:before {
  content: "\e887";
}
.icon-info:before {
  content: "\e88f";
}
.icon-down:before {
  content: "\e313";
}
.icon-up:before {
  content: "\e316";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-person:before {
  content: "\e7fd";
}
.nav__details[open] .nav__summary-icon:before {
  content: "\e15b";
}
.icon-eye:before {
  content: "\e8f4";
}
.icon-reply:before {
  content: "\e15e";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-sage:before {
  content: "\e8d7";
}
.icon-eye-off:before {
  content: "\e8f5";
}
